
.vs/The Snake Advanced/v16/Server/sqlite3/storage.ide
.vs/The Snake Advanced/v16/Server/sqlite3/storage.ide
.vs/The Snake Advanced/v16/.suo
.vs/The Snake Advanced/v16/Server/sqlite3/storage.ide-shm
.vs/The Snake Advanced/v16/.suo
The Snake Advanced/bin/Debug/The Snake Advanced.exe.config
The Snake Advanced/bin/Debug/The Snake Advanced.pdb
The Snake Advanced/bin/Debug/The Snake Advanced.exe
.vs/The Snake Advanced/v16/Server/sqlite3/storage.ide-wal
.vs/The Snake Advanced/v16/Server/sqlite3/storage.ide
The Snake Advanced/obj/Debug/DesignTimeResolveAssemblyReferences.cache
The Snake Advanced/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
The Snake Advanced/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
The Snake Advanced/obj/Debug/The Snake Advanced.csproj.FileListAbsolute.txt
The Snake Advanced/obj/Debug/The Snake Advanced.csproj.GenerateResource.cache
The Snake Advanced/obj/Debug/The Snake Advanced.csprojAssemblyReference.cache
The Snake Advanced/obj/Debug/The Snake Advanced.exe
The Snake Advanced/obj/Debug/The_Snake_Advanced.frmMain.resources
The Snake Advanced/obj/Debug/The Snake Advanced.pdb
The Snake Advanced/obj/Debug/The_Snake_Advanced.Properties.Resources.resources
The Snake Advanced/obj/Debug/The Snake Advanced.csprojAssemblyReference.cache
The Snake Advanced/obj/Debug/The Snake Advanced.csproj.CoreCompileInputs.cache
The Snake Advanced/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
The Snake Advanced/obj/Debug/DesignTimeResolveAssemblyReferences.cache
The Snake Advanced/obj/Debug/DesignTimeResolveAssemblyReferences.cache
The Snake Advanced/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
The Snake Advanced/obj/Debug/The Snake Advanced.csproj.CoreCompileInputs.cache
The Snake Advanced/obj/Debug/The Snake Advanced.csprojAssemblyReference.cache
